
.places{
    margin-top: 92px;
    /* да, отступ не попадет в пиксели но зато он реально резиновый и плааааааааавно адаптируется. 
    Именно этому хотели научить те кто придумывал этот спринт.. или нет ?
    Блин, ну как понять что имеено нужно делать ? то говорят что это не важно если не совсем попадает в макет, 
    главное же ИДЕЯ и резиновая адаптивная верстка, вы же учитесь..
    То наоборот дрючат за несовпадение по пикселям, хотя ежу понятно что в макеты для резинового 
    сайта делаются без точной привязки, и дизайнер тупо не станет думать о том какие отступы 
    должны быть в пикселях на сотне тысяч разных устройств. 
    это не нужно никому от слова совсем, он просто набросает примерное расположение кнопок и отдаст в работу
    
    Ну ОК, я сделаю вместо красивого и плавного изменения тупые скачки но зато они теперь будут попадать в макет.
    Ура. 
    Смысл обучения был именно в этом ?
    
    Это не первые мои курсы в яндекс практкуме, но это самый непонятный спринт за все время..
    Я подэтому и отправил работу не доделанную просто потому что не ясно в правильную ли сторону 
    ты идешь вообще. туда ли думаешь. 
    
    я понимаю что это добавило тебе времени на разбор говнокода, прости,
    но я просто не понимал правильно ли это в целом или нужно переелывать все с нуля и нужен был 
    какой-то вектор*/
}
@media  (max-width: 1200px) {
    .places {
    max-width: 928px;
    margin-left: auto;
    margin-right: auto;
    }
}
@media screen and (max-width: 100px) {
    .places {
        margin-top: 88px;
    }
    }
    @media screen and (max-width: 375px) {
    .places {
        margin-top: 64px;
    }
    }