.header{
    display: flex;
    height: 100%;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    max-width: 1184px;
    padding-top: 28px;    
}

@media  (max-width: 425px) {
    .header {
        padding-top: 16px; 
    }}