.footer__links{
    list-style-type: none;
    list-style: none;
    display: flex;
    justify-content: start;
    width: 100%;
    margin: 0;
    padding: 0%;
    
}


@media  (max-width: 550px) {
    .footer__links{
        flex-direction: column;
    }
}

