.footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 1.14;
/* identical to box height, or 114% */
}
@media  (max-width: 550px) {
    .footer__copyright{

        padding-top: calc(48px - 32px);
        /* identical to box height, or 100% */      
    }
}