
.lead__subtitle{
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    /* or 120% */
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 64px;
}

@media  (max-width: 1100px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}


@media  (max-width: 767px) {
    .lead__subtitle {
      
        font-size: 16px;
        line-height: 1.25;
        /* or 125% */
    }
}

@media  (max-width: 425px) {
    .lead__subtitle {
        max-width: 288px;
        margin-bottom: 40px;
    }
}