.cover{
    margin-top: 5vw;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    
    position: relative;
    justify-items: center;
    }
    