.place__link{
    font-size: 18px;
    line-height: 1.22;
    /* identical to box height, or 122% */
    color: #ffffff;
    text-decoration-line: underline;  
    transition: 0.5s; 
}
.place__link:hover{ 
    opacity: 0.8;
    transition: 0.5s;

}