.cover__background {
    background-image: url(/images/cover-trains.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    
    width: 100%;
    max-width: 1184px;
    height: calc((740 / 1184) * 100vw);
    max-height: 740px;
}
