.footer{
    margin-top: 92px;
    padding-bottom: 24px;
    display: flex;
    max-width: 1184px;
    margin-left: auto;
    margin-right:auto;
}
@media  (max-width: 1200px) {
    .footer {
    max-width: 928px;
    margin-left: auto;
    margin-right: auto;
    }
}
@media  (max-width: 550px) {
    .footer{
        margin-top: 64px;
        flex-direction: column;
    }    .footer__links{
        flex-direction: column;
    }
}

