.footer{
    margin-top: 15vw;
    padding-bottom: 24px;
    display: flex;
    max-width: 1184px;
    margin-left: auto;
    margin-right:auto;
}
@media  (max-width: 768px) {
    .footer{
    flex-flow: column;       
    }
}