.place__website{
    display: flex;
    flex-flow: column;
    grid-area: website;
    justify-content: flex-end;
    
}

@media  (max-width: 768px) {
    .place__website{
       display: none;
        /* or 110% */
        
    }
}