
.place__website_url-link{
    font-size: 18px;
    line-height: 1.22;
    /* identical to box height, or 122% */
    color: #ffffff;
    text-decoration-line: underline;   
}
.place__website_url-link:hover{
    font-size: 18px;
    line-height: 1.22;
    /* identical to box height, or 122% */
    color: #ffffff;
    text-decoration-line: underline;   
    opacity: 0.8;
}
